@import '../styles/variables.scss';

main {
    .hero {
        display: flex;
        flex-direction: column;
        background-color: $lightGrayishBlue;

        .hero-title {
            margin-top: 7dvh;
            margin-bottom: 5dvh;
            margin-left: 20dvh;
            font-family: 'Public Sans', serif;
            font-size: 3rem;
            color: $darkBlue;
        }

        .hero-text {
            margin-left: 20dvh;
            margin-bottom: 10dvh;
            font-family: 'Public Sans', serif;
            font-size: 1.1rem;
            color: $grayishBlue;
        }

        .card-grid,
        .new-card-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .card {
                margin-left: 17dvh;
                width: 35dvh;

                .card-image {
                    margin-bottom: 5dvh;
                    max-width: 100%;
                    height: auto;
                }

                .card-title {
                    font-family: 'Public Sans', serif;
                    font-size: 1.5rem;
                    color: $grayishBlue;
                    margin-bottom: 5dvh;
                }

                .card-paragraph {
                    font-family: 'Public Sans', serif;
                    font-size: 1rem;
                    color: $grayishBlue;
                    text-align: center;
                    margin-bottom: 10dvh;
                }
            }
        }
    }

    .articles {
        display: flex;
        flex-direction: column;
        margin-top: 15dvh;

        .article-title {
            margin-left: 17dvh;
            margin-bottom: 8dvh;
            font-family: 'Public Sans', sans-serif;
            font-size: 3rem;
            color: $darkBlue;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .card-articles {
                margin-left: 5dvh;
                margin-right: 5dvh;
                gap: 3dvh;

                .card-image {
                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                .card-content {
                    margin-top: 5dvh;

                    p {
                        font-family: 'Public Sans', sans-serif;
                        font-size: 0.8rem;
                        color: $grayishBlue;
                    }

                    .card-article-title {
                        font-family: 'Public Sans', sans-serif;
                        font-size: 1.3rem;
                        margin-top: 3dvh;
                        color: $darkBlue;
                    }

                    .card-article-paragraph {
                        font-family: 'Public Sans', sans-serif;
                        font-size: 1rem;
                        text-align: center;
                        margin-top: 3dvh;
                        margin-bottom: 7dvh;
                    }
                }
            }
        }
    }
}