@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
header {
  width: 100%;
}
header .navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 3dvh;
  margin-bottom: 3dvh;
}
header .navbar .nav-list {
  display: flex;
  gap: 4dvh;
}
header .navbar .nav-list .nav-link {
  list-style-type: none;
}
header .navbar .nav-list .nav-link a {
  font-family: "Public Sans", serif;
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
  cursor: pointer;
}
header .navbar .nav-list .nav-link a:hover {
  color: hsl(136, 65%, 51%);
}
header .navbar .nav-button {
  display: flex;
}
header .navbar .nav-button .request-btn {
  border: none;
  border-radius: 4dvh;
  width: 25dvh;
  height: 7dvh;
  cursor: pointer;
  font-family: "Public Sans", serif;
  font-size: 1rem;
  color: hsl(220, 16%, 96%);
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
header .navbar .nav-button .request-btn:hover {
  background-color: hsl(136, 65%, 51%);
}
header .banner-container {
  display: flex;
  background-color: hsl(220, 16%, 96%);
}
header .banner-container .banner-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}
header .banner-container .banner-text .main-title {
  font-family: "Public Sans", serif;
  font-size: 3.5rem;
  margin-top: 25dvh;
  margin-bottom: 10dvh;
  text-align: center;
  color: hsl(233, 26%, 24%);
}
header .banner-container .banner-text .banner-paragraph {
  font-family: "Public Sans", serif;
  font-size: 1.1rem;
  text-align: center;
  color: hsl(233, 8%, 62%);
  margin-bottom: 8dvh;
}
header .banner-container .banner-text .banner-btn {
  cursor: pointer;
  border: none;
  border-radius: 4dvh;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  width: 25dvh;
  height: 7dvh;
  margin: 0 auto;
  font-family: "Public Sans", serif;
  font-size: 1rem;
}
header .banner-container .banner-img {
  flex: 1;
  background: url("../assets/bg-intro-desktop.svg");
}
header .banner-container .banner-img .banner-picture {
  max-width: 100%;
  height: auto;
  position: relative;
  top: 20dvh;
}

main .hero {
  display: flex;
  flex-direction: column;
  background-color: hsl(220, 16%, 96%);
}
main .hero .hero-title {
  margin-top: 7dvh;
  margin-bottom: 5dvh;
  margin-left: 20dvh;
  font-family: "Public Sans", serif;
  font-size: 3rem;
  color: hsl(233, 26%, 24%);
}
main .hero .hero-text {
  margin-left: 20dvh;
  margin-bottom: 10dvh;
  font-family: "Public Sans", serif;
  font-size: 1.1rem;
  color: hsl(233, 8%, 62%);
}
main .hero .card-grid,
main .hero .new-card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
main .hero .card-grid .card,
main .hero .new-card-grid .card {
  margin-left: 17dvh;
  width: 35dvh;
}
main .hero .card-grid .card .card-image,
main .hero .new-card-grid .card .card-image {
  margin-bottom: 5dvh;
  max-width: 100%;
  height: auto;
}
main .hero .card-grid .card .card-title,
main .hero .new-card-grid .card .card-title {
  font-family: "Public Sans", serif;
  font-size: 1.5rem;
  color: hsl(233, 8%, 62%);
  margin-bottom: 5dvh;
}
main .hero .card-grid .card .card-paragraph,
main .hero .new-card-grid .card .card-paragraph {
  font-family: "Public Sans", serif;
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
  text-align: center;
  margin-bottom: 10dvh;
}
main .articles {
  display: flex;
  flex-direction: column;
  margin-top: 15dvh;
}
main .articles .article-title {
  margin-left: 17dvh;
  margin-bottom: 8dvh;
  font-family: "Public Sans", sans-serif;
  font-size: 3rem;
  color: hsl(233, 26%, 24%);
}
main .articles .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
main .articles .grid-container .card-articles {
  margin-left: 5dvh;
  margin-right: 5dvh;
  gap: 3dvh;
}
main .articles .grid-container .card-articles .card-image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main .articles .grid-container .card-articles .card-content {
  margin-top: 5dvh;
}
main .articles .grid-container .card-articles .card-content p {
  font-family: "Public Sans", sans-serif;
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
}
main .articles .grid-container .card-articles .card-content .card-article-title {
  font-family: "Public Sans", sans-serif;
  font-size: 1.3rem;
  margin-top: 3dvh;
  color: hsl(233, 26%, 24%);
}
main .articles .grid-container .card-articles .card-content .card-article-paragraph {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 3dvh;
  margin-bottom: 7dvh;
}

footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  justify-content: space-between;
  height: 20dvh;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 5dvh;
}
footer .footer-container .icon-footer {
  display: flex;
  flex-direction: row;
  margin-top: 8dvh;
}
footer .footer-container .icon-footer .icon {
  width: 2dvh;
  height: 2dvh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
footer .footer-container .icon-footer .icon:hover {
  color: hsl(136, 65%, 51%);
}
footer .first-links {
  display: flex;
  flex-direction: column;
}
footer .first-links p {
  cursor: pointer;
  font-family: "Public Sans", serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}
footer .first-links p:hover {
  color: hsl(136, 65%, 51%);
}
footer .second-links {
  display: flex;
  flex-direction: column;
}
footer .second-links p {
  cursor: pointer;
  font-family: "Public Sans", serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}
footer .second-links p:hover {
  color: hsl(136, 65%, 51%);
}
footer .footer-btn .request-btn {
  border: none;
  border-radius: 4dvh;
  width: 20dvh;
  height: 5dvh;
  cursor: pointer;
  font-family: "Public Sans", serif;
  font-size: 1rem;
  color: hsl(220, 16%, 96%);
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  margin-top: 3dvh;
  margin-right: 5dvh;
}
footer .footer-btn .request-btn:hover {
  background-color: hsl(136, 65%, 51%);
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2dvh;
  }
}
@media screen and (max-width: 768px) {
  .banner-container {
    display: flex;
    flex-direction: column;
  }
  .banner-container .banner-text {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .main-title {
    margin: 2dvh 2dvh;
  }
}
@media screen and (max-width: 768px) {
  .banner-picture {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .hero-title {
    margin-left: 2dvh !important;
  }
  .hero-text {
    margin-left: 2dvh !important;
  }
}
@media screen and (max-width: 768px) {
  .card-grid,
  .new-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .card {
    margin-left: 2dvh !important;
  }
}
@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-btn {
    display: flex;
  }
  .request-btn {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}/*# sourceMappingURL=responsivity.css.map */